#DetallesCompra,
#listaCompras{
    padding: 2em;
    height: 73vh;
}

#shoppingCart{
    padding: 2em;
}

input[type="button"].btn-primary[value="Comprar"]{
    width: 30%;
    text-align: center;
}

select{
    width: 100%;
    height: 100%;
}
#datosEnvio,
#Resumen{
    padding: 0.5em;
}

#datosEnvio>.h5,
#Resumen>.h5{
    width: 100%;
}

.shopping-info{
    width: 100%;
    padding: 1em;
}

.lista{
    height: 100%;
}
.compra{
    padding: 0.5em;
    max-height: 100%;
    height: 100%;
}